:root {
  /* colors */
  --black: #000000;
  --primary: #1d957f;
  --grey: #616161;
  --white: #ffff;
  --bg-1: #ffff;
  --bg-2: #fafbfd;
  /* fonts */
  --font-base: "Rubik", sans-serif;
  --title: 700 32px/38px var(--font-base);
  --caption-regular: 400 12px/138.5% var(--font-base);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.experts {
  padding: 80px 0;
  background: var(--bg-2);
}

.experts__counter-container {
  position: relative;
  max-width: 654px;
  height: max-content;
  margin: 80px auto;
}
.experts__counter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
  padding: 24px;
  background: var(--white);
  border-radius: 16px;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  z-index: 2;
}

.experts__counter__box {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background: var(--primary);
  z-index: 1;
}
.experts__counter__box--1 {
  bottom: 0;
  left: 0;
  transform: rotate(-30deg) translate(-50%, 50%) scale(0.6);
}
.experts__counter__box--2 {
  top: 0px;
  left: 80%;
  transform: translate(-50%, -60%) rotate(30deg);
}
.experts__counter__box--3 {
  display: none;
  top: 0;
  right: 0;
  transform: translate(50%) scale(1.27) rotate(-30deg);
}

.experts__counter__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}
.experts__counter__item__number {
  color: var(--primary);
  font: 700 24px/28px var(--font-base);
  letter-spacing: 0.14em;
  text-align: center;
}
.experts__counter__item__type {
  color: var(--black);
  font: 700 11px/13px var(--font-base);
  letter-spacing: 0.37em;
  text-transform: uppercase;
}

.experts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experts__image-container {
  width: 100%;
  max-width: 521px;
}
.experts__image-container img {
  width: 100%;
}
.experts__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.experts__content__title {
  font: var(--title);
}
.experts__content__title__primary {
  color: var(--primary);
}
.experts__content__desc {
  color: var(--grey);
  font: 400 12px/17px var(--font-base);
}
.experts__content__link {
  display: block;
  padding: 14px 18px;
  width: 100%;
  color: var(--white);
  font: 800 10px/12px var(--font-base);
  letter-spacing: 0.14em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--primary);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .experts {
    padding: 164px 0;
  }
  .experts__counter__box--2 {
    left: 50%;
  }

  .experts__counter__box--3 {
    display: block;
  }
  .experts__counter {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px;
  }
  .experts-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .experts__content {
    max-width: 420px;
  }
  .experts__content__title {
    font-size: 44px;
    line-height: 126%;
    /* or 55px */
  }
  .experts__content__link {
    max-width: min-content;
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 0;
}
.features__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features__header__title {
  font: var(--title);
  color: var(--black);
}
.features__header__title__featured {
  color: var(--primary);
}
.features__header__desc {
  height: 52px;
  font: var(--caption-regular);
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--grey);
}

.features__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 80px 0;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  width: 100%;
  max-width: 278px;
  padding: 36px 24px;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
}
.feature-card__image {
  height: 72px;
}
.feature-card__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.feature-card__body__title {
  font: 700 16px/138.5% var(--font-base);
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--black);
}
.feature-card__body__desc {
  font: var(--caption-regular);
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--grey);
}

.feature-card__1 {
  position: relative;
}
.feature-card__1::before {
  position: absolute;
  top: -80px;
  left: 20px;
  content: "";
  display: block;
  width: 127px;
  height: 127px;
  background: var(--primary);
  border-radius: 30px;
  transform: rotate(-30deg);
  z-index: -1;
}

.feature-card__3 {
  position: relative;
}
.feature-card__3::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 127px;
  height: 127px;
  background: var(--primary);
  border-radius: 30px;
  transform: translateY(50%) rotate(30deg);
  z-index: -1;
}

.features__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .features__header__title {
    font: 700 44px/126% var(--font-base);
    text-align: center;
  }
  .features__header__desc {
    text-align: center;
  }
  .features__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
  }
  .feature-card {
    padding: 40px 24px;
    max-width: none;
    height: 100%;
  }
  .features__footer {
    flex-direction: row;
  }
}
